<div class="container">
    <div class="row">
        <div class="col-md-6 left row align-items-center justify-content-center">
            <div class="animate__bounce">
                <img src="assets/login.svg" alt="">
            </div>

        </div>
        <div class="col-md-6 right row align-items-center justify-content-center">
            <form class="col-11" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center mb-3">Login</h2>
                <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
                <button [disabled]="loginForm.invalid" type="submit"
                    class="btn btn-primary form-control my-2">Submit</button>
                <span>You Dont Have Account . <a routerLink="/account/register">Register</a></span>

            </form>
        </div>

    </div>
</div>