################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/FullCart.API/wwwroot/images/e7107db5-01c3-40fe-a51b-a1e16f000744.png
/FullCart.API/wwwroot/images/cf33e1b0-334e-4570-ba49-c1c384367393.png
/FullCart.API/wwwroot/images/9dddc3ae-7881-44fc-b720-c89db2197281.png
/FullCart.API/wwwroot/images/2c970951-9656-445f-861a-b9c5e3bbe782.png
