<div class="row">
    <div class="col-md-6 left row align-items-center justify-content-center">
        <img src="assets/register.svg" class="animate__bounce" alt="">
    </div>
    <div class="col-md-6 right row align-items-center justify-content-center">
        <form class="col-11" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2 class="text-center mb-3">Register</h2>
            <app-text-input formControlName="fullName" [label]="'Full Name'"></app-text-input>
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <ul class="text-danger" *ngIf="errors.length>0">
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
            <button [disabled]="registerForm.invalid" type="submit"
                class="btn btn-primary form-control my-2">Submit</button>
            <span>You Have Account . <a routerLink="/account/login">Login</a></span>
        </form>
    </div>

</div>