<div class="container my-4">
    <h2 class="text-center">Insert Brand</h2>
    <form [formGroup]="brandForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group my-4">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="brandForm.get('name')!!.hasError('required') && brandForm.get('name')!.touched">
          Name is required
        </div>
      </div>
      <div class="form-group my-4">
        <label for="picture">Picture:</label>
        <input type="file" class="form-control" id="picture" (change)="onFileSelected($event)" formControlName="picture">
        <div *ngIf="brandForm.get('picture')!.hasError('required') && brandForm.get('picture')!.touched">
          Picture is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary form-control" [disabled]="brandForm.invalid">Insert Brand</button>
    </form>
  </div>